
.cost {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.cost > p {
  margin: 10px 0;
  font-weight: bold;
  color: black;
}
.cost > span {
  margin: 10px 0;
  color: black;
}
.costTitle{
  font-size: 30px;
    color: #0078d0;
    font-weight: bold;
}
